/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/08/2019, 2:48:49 PM
    Author     : Mougi
*/

body{
    background-color: beige;
    margin: 0;
}

.title{
    color: red;
    text-decoration: none;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px;
}

.links{
    display: inline-block;
    color: grey;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    border-right: 2px solid darkgrey;
}

h{
    font-size: 40px;
    width:260px;
    text-align:center;
    background-color: grey;
    color: black;
}

p{
    color: grey;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px;
}

.navbar{
    background-color: lightgray; 
    margin: auto;
}

.container{

}

.itemList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    justify-content: space-between;
    
}

.row{
   background-color: lightblue;
   text-align: center;
}
.itemCard{
    text-align: center;
    width:200px;
    height: 250px;
    margin: 20px 20px;
    background-color: pink;
}
